html {
    background-color: #7d717b;
}

header, #submit:hover {
    background-color: #c5b0ab;
}

.info, #submit {
    background-color: #313b51;
}

h2, h3 {
    display: inline;
    background-color: #1a181a;
    color: #c5b0ab;
}

.interactive {
    border: 2px solid #000000;
}